        <section class="input-container">
            <!-- Insert new appointment -->
            <div class="insert-outer-container">
                <div class="insert-inner-container">
                    <h3> Insert an Appointment </h3>

                    <form action="/submit-form" method="post">
                        <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertApptId" name="apptid", placeholder="Appointment ID" required>
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control" name="queuedate" id="insertQueuedate" placeholder="Appointment Date" required>
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" id="insertPatientID" name="pxid" placeholder="Patient ID" required>
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" id="insertPatientAge" name="patients_age" placeholder="Patient age" required>
                            </div>
                            <!--- gender -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertPatientGender" name="gender" placeholder="Patient Gender" required>
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertDoctorID" name="doctorid" placeholder="Doctor ID" required>
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertMainSpecialty" name="mainspecialty" placeholder="Main Specialty" required>
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertClientID" name="clinicid" placeholder="Clinic ID" required>
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertHospitalName" name="hospitalname" placeholder="Hospital Name" required>
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertCity" name="city" placeholder="City" required>
                            </div>
                            <!-- regionname -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertRegion" name="regionname" placeholder="Region" required>
                            </div>
                            <!-- province -->
                            <div class="col">
                                <input type="text" class="form-control" id="insertProvince" name="province" placeholder="Province" required>
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="island" id="insertIsland" required>
                                <option value="luzon"> Luzon </option>
                                <option value="visayas"> Visayas </option>
                                <option value="mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="statuss" id="insertStatus" required>
                                <option value="complete"> Complete </option>
                                <option value="queued"> Queued </option>
                                <option value="serving"> Serving </option>
                                <option value="skip"> Skip </option>
                                <option value="cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="type" id="insertType" required>
                                <option value="consultation"> Consultation </option>
                                <option value="inpatietn"> Inpatient </option>
                            </select>
                        </div>

                        <div class="btn-container">
                            <button id="insert-submit-btn"> Insert </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Update an Appointment -->
            <div class="view-outer-container">
                <div class="view-inner-container">
                    <h3> Update an Appointment </h3>
                    
                    <form action="/update", method="post"> 
                        <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateApptId" name="updateApptId" placeholder="Appointment ID" required>
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control"  id="updateQueuedate" name="updateQueuedate" placeholder="Appointment Date">
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" id="updatePatientID" name="updatePatients_ID" placeholder="Patient ID">
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" id="updatePatientAge" name="updatePatientAge" placeholder="Patient age">
                            </div>
                            <!--- gender -->
                            <div class="col">
                                <input type="text" class="form-control" id="updatePatientGender" name="updateGender" placeholder="Patient Gender">
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateDoctorID" name="updateDoctorID" placeholder="Doctor ID">
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateMainSpecialty" name="updateMainSpecialty" placeholder="Main Specialty">
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateClinicID" name="updateClinicID" placeholder="Clinic ID">
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateHospitalName" name="updateHospitalName" placeholder="Hospital Name">
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateCity" name="updateCity" placeholder="City">
                            </div>
                            <!-- regionname -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateRegion" name="updateRegion" placeholder="Region">
                            </div>
                            <!-- province -->
                            <div class="col">
                                <input type="text" class="form-control" id="updateProvince" name="updateProvince" placeholder="Province">
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="updateIsland" id="updateIsland">
                                <option value="luzon"> Luzon </option>
                                <option value="visayas"> Visayas </option>
                                <option value="mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="updateStatus" id="updateStatus">
                                <option value="complete"> Complete </option>
                                <option value="queued"> Queued </option>
                                <option value="serving"> Serving </option>
                                <option value="skip"> Skip </option>
                                <option value="cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="updateType" id="updateType" required>
                                <option value="consultation"> Consultation </option>
                                <option value="inpatietn"> Inpatient </option>
                            </select>
                        </div>
                        
                        <div class="btn-container">
                            <button type="submit" id="update-submit-btn"> Update </button>
                        </div>
                    </form>
                </div>
            </div>

<!-- Delete -->
            <div class="view-outer-container">
                <div class="view-inner-container">
                    <h3> Delete an appointment </h3>
                    
                    <form action="/delete", method="post"> 
                        <div class="col">
                                <input type="text" class="form-control" id="deleteApptId" name="deleteApptId" placeholder="Appointment ID" required>
                        </div>
                        <div class="btn-container">
                            <button id="view-submit-btn"> delete </button>
                        </div>
                    </form>
                </div>
            </div>


            <!-- Search and View an Appointment -->
            <div class="view-outer-container">
                <div class="view-inner-container">
                    <h3> Search and View Appointments </h3>
                    
                    <form action="/search", method="post"> 
                        <div class="row">
                            <!-- apptid -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchApptId" placeholder="Appointment ID">
                            </div>
                            <!-- queuedate -->
                            <div class="col">
                                <input type="datetime-local" class="form-control"  id="searchQueuedate" placeholder="Appointment Date">
                            </div>
                        </div>
                        
                        <div class="row">
                            <!-- pxid-->
                            <div class="col">
                                <input type="text" class="form-control" id="searchPatientID" placeholder="Patient ID">
                            </div>
                            <!-- patients_age -->
                            <div class="col">
                                <input type="number" class="form-control" id="searchPatientAge" placeholder="Patient age">
                            </div>
                            <!--- gender -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchPatientGender" placeholder="Patient Gender">
                            </div>
                        </div>

                        <div class="row">
                            <!--- doctorid -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchDoctorID" placeholder="Doctor ID">
                            </div>
                            <!-- mainspecialty -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchMainSpecialty" placeholder="Main Specialty">
                            </div>
                        </div>

                        <div class="row">
                            <!-- clinicid -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchClientID" placeholder="Clinic ID">
                            </div>
                            <!-- hospitalname -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchHospitalName" placeholder="Hospital Name">
                            </div>
                        </div>

                        <div class="row">
                            <!-- city -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchCity" placeholder="City">
                            </div>
                            <!-- regionname -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchRegion" placeholder="Region">
                            </div>
                            <!-- province -->
                            <div class="col">
                                <input type="text" class="form-control" id="searchProvince" placeholder="Province">
                            </div>
                        </div>

                        <div class="dropdown-row">
                            <!-- island -->
                            <label for="island"> Island: </label>
                            <select name="island" id="searchIsland">
                                <option value="luzon"> Luzon </option>
                                <option value="visayas"> Visayas </option>
                                <option value="mindanao"> Mindanao </option>
                            </select>

                            <!-- status -->
                            <label for="status"> Status: </label>
                            <select name="status" id="searchStatus">
                                <option value="complete"> Complete </option>
                                <option value="queued"> Queued </option>
                                <option value="serving"> Serving </option>
                                <option value="skip"> Skip </option>
                                <option value="cancel"> Cancel </option>
                            </select>

                            <!-- type -->
                            <label for="type"> Type: </label>
                            <select name="type" id="searchType" required>
                                <option value="consultation"> Consultation </option>
                                <option value="inpatietn"> Inpatient </option>
                            </select>
                        </div>
                        
                        <div class="btn-container">
                            <button id="view-submit-btn"> Search </button>
                        </div>
                    </form>
                </div>
            </div>

            <table class="appointment-table"> 
                <tr class="appointment-headings">
                    <th> Appointment ID </th>
                    <th> Type </th>
                    <th> Queuedate </th>
                    <th> Status </th>
                    <th> Patient ID </th>
                    <th> Patient Age </th>
                    <th> Patient Gender </th>
                    <th> Doctor ID </th>
                    <th> Main Specialty </th>
                    <th> Clinic ID </th>
                    <th> Hospital Name </th>
                    <th> City </th>
                    <th> Region </th>
                    <th> Island </th>
                </tr>

                <!-- table results -->
                 {{#each searchResult}}
                    <tr class="appointment-results">
                        <td>{{this.apptId}}</td>
                        <td>{{this.type}}</td>
                        <td>{{this.queuedate}}</td>
                        <td>{{this.pxid}} </td>
                        <td>{{this.patients_age}} </td>
                        <td>{{this.gender}} </td>
                        <td>{{this.doctorid}} </td>
                        <td>{{this.mainspecialty}} </td>
                        <td>{{this.clinicid}} </td>
                        <td>{{this.hospitalname}} </td>
                        <td>{{this.city}} </td>
                        <td>{{this.province}} </td>
                        <td>{{this.regionname}} </td>
                        <td>{{this.island}} </td>
                    </tr>
                {{/each}}

                <tr>
                    
                </tr>
            </table>
        </section>